.rightPanel {
  .ant-form-item {
    .ant-form-item-row {
      gap: 10px;
    }
  }
  .btn {
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    button {
      background-color: #5685ef;
      color: white;
      &:hover {
        cursor: pointer;
        background-color: white;
        color: #5685ef;
      }
    }
  }
}
